.nav-links__link {
    font-weight: 400;
    text-decoration: none;
    color: #000
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 16px;
}

.nav-links__link_active {
    font-weight: 500;
}

.nav-links__link_type_white {
    color: #fff;
}

@media screen and (max-width:767px) {
    .nav-links {
        margin-top: 105px;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }
    .nav-links__link_active {
        text-decoration-line: underline;
    }
    .nav-links__link_type_white {
        color: #000;
    }
}