.auth {}

.auth__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.auth__title {
    margin: 40px 0;
    font-size: 24px;
    font-weight: 500;
}

.auth__input-title {
    margin-bottom: 5px;
    display: block;
    font-size: 10px;
}

.auth__form {
    display: flex;
    flex-direction: column;
}

/* .auth__form span {
    margin-bottom: 5px;
    display: block;
    font-size: 10px;
} */

.auth__input {
    padding: 0;
    padding-bottom: 10px;
    min-width: 396px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-size: 14px;
}

.auth__input-wrapper {
    margin-top: 24px;
}

.auth__input-wrapper:first-of-type {
    margin-top: 0;
}

.auth__input-wrapper:last-child {
    margin-top: 18px;
}

.auth__input-wrapper input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #3456F3;
}

.auth__input-title {
    color: #A0A0A0;
}

.auth__btn {
    margin-top: 180px;
    padding: 13px 0;
    background-color: #3456F3;
    border: none;
    color: #fff;
    border-radius: 3px;
}

.auth__btn:disabled {
    background-color: #F8F8F8;
}

.auth__link-description {
    margin: 16px 0 70px 0;
    text-align: center;
    font-size: 14px;
    color: #A0A0A0;
}

.auth__link {
    margin-left: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #3456F3;
    display: inline;
}

.auth__error-message {
    min-height: 12px;
    color: #FF3055;
    margin-top: 5px;
}

.auth__input-err {
    color: #FF3055;
    ;
}

.auth__error-text {
    font-size: 10px;
    display: none;
}

.auth__error-text_active {
    font-size: 10px;
    display: block;
}


@media screen and (max-width:767px) {
    .auth__wrapper{
        padding-top: 40px;
    }
    .auth__title{
        min-width: 260px;
        text-align: center;

    }

    .auth {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .auth__input{
        min-width: 260px;
    }
    .auth__title{
        margin: 30px 0 82px 0;
    }
    .auth__input-wrapper{
        margin-top: 8px;
    }
    .auth__btn{
        margin-top: 222px;
        font-size: 12px;
        padding: 15px 0;
    }
    .auth__link-description{
        font-size: 12px;
    }

}